<%= render "navbar" %>
<div class="container p-2">

  <% @articles.each do |article| %>
    <h3><%= link_to article.title, article_path(article) %></h3>
    <p><%= article.content %></p>
  <% end %>

</div>



